.total-month-page {
  display: flex;
  flex-direction: row;
}
.main-month-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.all-graph h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  color: #6748d6;
}
.all-graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-div-month {
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 0;
}
