.navbar {
  display: flex;
  background-color: #ffffff;
  /* padding: 1rem; */
  padding-left: 2rem;
  align-items: center;

  font-size: larger;
  font-weight: 500;
  color: #83889b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  border-radius: 0.1rem;
  position: fixed;
  width: 84%;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  color: #83889b;
}

.navbar ul li a {
  text-decoration: none;
}

.navbar ul li:hover {
  color: #6748d6;
  font-weight: 600;
  cursor: pointer;
}

.navbar ul.left {
  margin-right: auto;
}

.navbar ul.right {
  margin-left: auto;
}

.navbar li.selected {
  color: #6748d6;
  font-weight: 600;
}
/* .navbar ul li:first-child {
  color: #6748d6;
  font-weight: 600;
} */
#logout-button {
  font-family: "poppins", sans-serif !important;
  background-color: #6748d6;
  color: #ffffff;
  border: none;
  padding: 0.6rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  margin-right: 1rem;
  /* overflow: scroll; */
  cursor: pointer;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.13);
}

#logout-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  /* font-weight: 600; */
}

.logo {
  color: black;
  font-size: 0.8rem;
  margin-right: 1rem;
}
