.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  /* width: 25%; */
  width: 45%;
  min-width: 200px;

  /* padding: 20px; */
  /* box-sizing: border-box;*/
}

.content {
  flex: 1;
  padding-left: 0rem;
  padding-top: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
