/* .container {
  /* display: flex;
  justify-content: center; */
/* margin: auto;
  padding: 0; */

/* .sidebar-1 {
  align-items: center;
  padding: auto;
} */

.container {
}

.sidebar-1 {
}

.div2 {
}
