body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 220px;
  margin-left: 275px;
  height: calc(100vh - 100px);
}

.horizontal-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.horizontal-box {
  width: calc(25% - 16px);
  height: 120px;
  background-color: #A5B7E8;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 20px;
}

.third-box {
  margin-right: 150px; 
}

.vertical-container {
  overflow-y: auto;
  max-height: calc(100% - 200px);
  width: 100%;
  margin-top: 3px;
}

.date-picker {
  width: calc(15% - 10px);
  height: 50px;
  background-color: #e7ee8b;
  margin-bottom: 20px;
  border-radius: 20px;
  margin-top: 120px;
  position: relative;
  cursor: pointer; 
}

.date-picker::before {
  content: "Select Date"; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.columns-container {
  display: flex;
  width: 100%;
  overflow-x: auto; 
}

.column {
  flex: 0 0 auto; 
  width: calc(33.33% - 10px); 
  margin-right: 5px; 
  max-height: calc(100vh - 100px); 
  overflow-y: auto;
}

.vertical-box {
  width: 100%;
  height: 70px; 
  background-color: #eda2ce;
  margin-bottom: 5px; 
}